body {
	background-color: #000;

	margin: 0;
	overflow: hidden;
	background-repeat: ;
}
.canvas-container{
  position: relative;
  width: 500px;
  height: 500px;
}
#canvas {
  position: absolute;
}
#button {
  position:absolute;
  left:130%;
  top:60%
}